body {
  font-family: Arial, sans-serif;
  background-color: #f7e9f5;
}

#content {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}


#mySafeTimer {
  z-index: 10000;
  position: absolute;
}

#safeTimer {

  cursor: move;
  bottom: 10px;
  right: 10px;
  background-color: #FFD1DC;
  padding: 10px;
  box-shadow: 0 0 25px rgb(248, 199, 222);
  z-index: 10000; /* Ensure it is on top of other elements */
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

#bear {
  position: absolute;
  bottom: 155px;
  right: -20px;
  z-index: 999;
}

#welcome {
  color: rgb(220, 127, 147);
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Keep text in one line */
  animation: typing 3s steps(7); /* Typing animation */
  font-size: 30px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

#safeTimer:hover {
box-shadow: 0 0 5px rgb(210, 142, 169),
            0 0 25px rgb(205, 152, 187),
            0 0 50px rgb(231, 195, 214),
            0 0 100px rgb(228, 181, 196);
}

#safeTimerDisplay {
  font-size: 1.5em;
}

#uploadButton {
  position: fixed;
  color: #faa1b8;
  top: 50px; 
  right: 450px;
  background-color: white; 
  border: 1px solid #faa1b8;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 0.4em;
  z-index: 1000;
}


#uploadButton:hover {
  background-color: #faa1b8;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#daily-schedule {
  position: fixed;
  top: 10px;
  height: 900px;
  width: 1000px;
  right: 400px;
  border-color: #faa1b8;
  background-color: white;
  border-radius: 1em;
}

#daily_header {
  color: #faa1b8;
  margin-left: 50px;
  font-family: "Dosis", sans-serif;
}

.event-card {
  position: relative; 
  left: 50px;
  
  font-family: "Dosis", sans-serif;
  background-color: #faa1b8;
  color: white;
  display: flex;
  justify-content: center;
  width: 600px;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 0.5em;
  border-radius: 1em;
  z-index: 50;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}*/

.event-card h1,
.event-card p {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.event-card p {
  font-size: 20px;
}

#monthly-schedule {
  position: fixed;
  top: 10px;
  height: 900px;
  width: 1000px;
  right: 400px;
  border-color: #faa1b8;
  background-color: white;
  border-radius: 1em;
}

.additional-text {
  font-size: 0.9em;
  background-color: #faa1b8;
  color: white;
  border-radius: 1em;
  display: block; 
  line-height: 1em;
}

#daysOfWeek {
  color: white;
  background-color: rgb(219, 134, 153);
}

#monthStyle {
  margin-top: 70px;
  font-size: 40px;
  color: rgb(219, 134, 153);
  text-align: center;
}

#calTable {
  border: 1px solid white;
  width: 800px;
  margin-top: auto;
  width: 100%;
  height: 80%;
  table-layout: fixed;
  background-color: #fcf1f4;
}

#calTable td, #calTable th {
  word-wrap: break-word;
  vertical-align: top;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(135deg, #faa1b8 0%, rgb(233, 117, 148) 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}


/* Docker for links */
.m_f {
  z-index: 10000;
  position: absolute;
}

.x {
  position: absolute;
  top: 8px;
  left: 8px;

}

.wrapper {
  max-width: 400px;
  
  height: 400px;
  min-width: 400px;
  border-radius: .75rem;
  background-color: var(--white); /* Example background color */
  --white: #e3e3e3;
  --bc: rgb(203, 46, 79);
  --bc-al: rgba(203, 46, 79, 0.6);
  z-index: 9999;
  box-shadow: 0 0 25px rgb(248, 199, 222); /* Initial shadow setup */
  transition: box-shadow 0.5s ease; /* Transition for box-shadow */
  position: absolute; /*Ensure relative position for pseudo-element */
}

.wrapper:hover {
  box-shadow: 0 0 5px rgb(210, 142, 169),
            0 0 25px rgb(183, 114, 160),
            0 0 50px rgb(231, 195, 214),
            0 0 100px rgb(228, 181, 196);
}

.wrapper::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust the top position to extend the shadow effect */
  left: -10px; /* Adjust the left position to extend the shadow effect */
  right: -10px; /* Adjust the right position to extend the shadow effect */
  bottom: -10px; /* Adjust the bottom position to extend the shadow effect */
  z-index: -1;
  box-shadow: inset 0 0 5px rgba(255, 246, 246, 0); /* Inner shadow to wrap edges */
  border-radius: 10px; /* Ensure this matches your .wrapper's border-radius */
}


.card {
  max-width: 400px;
  height: 400px;
  padding: 1rem 0;
  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: 4%;
  border: 1px solid var(--bc-al);
  border-radius: .75rem;
  background: var(--bc-al);
  color: var(--white);
  backdrop-filter: blur(14px);
  box-shadow: 0 15px 30px -15px var(--bc-al);
  isolation: isolate;
  overflow: hidden;
  overflow-y: auto; /* Enable vertical scrolling */
}

.card::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}


.top {
  padding: .5rem 4rem;
  z-index: 1;
}

.bottom {
  z-index: 1000;
}

#bun {
  position: absolute;
  bottom: 0px;
  right: -5px;
}

.users {
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
}

.user {
  width: 50%;
  /*margin-left: auto;*/
  margin-right: auto;
  padding: 0.75rem 4rem;
  display: flex;
  gap: .1rem;
  flex-direction: column;
  align-items: flex;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--bc-al);
  position: relative;
}

.user:hover {
  background-color: var(--bc-al);
}

.user:nth-last-child(1) {
  border-bottom: none;
}

.user::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: 1.75rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
  border-radius: 50%;
}

.task-link {
  font-weight: 700;
  font-size: large;
  z-index: 7000;
}

.task {
  opacity: .8;
  font-style: italic;
  font-size: medium;
  z-index: 7000;
}

.u-l {
  font-size: 1.1rem;
  font-weight: 700;
  font-size: x-large;
  cursor: move;
}









#checklist {
  --background: #fff;
  --text: #414856;
  --check: rgb(252, 222, 224);
  --disabled: rgb(89, 89, 89);
  --width: 150px;
  --height: 400x;
  --border-radius: 10px;
  width: var(--width);
  height: var(--height);
  max-height: 300px;
  background: var(--background);
  border-radius: var(--border-radius);
  position: absolute;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 85px;
  display: grid;
  align-items: center;
  grid-template-columns: 30px auto;
  justify-content: center;

  max-height: 300px;
  overflow-y: auto;
  overflow-x: visible;

  
  z-index: 9998;
  cursor: move;
  transition: box-shadow 0.3s ease; /* Transition for smooth hover effect */
}

#checklist:hover {
  box-shadow: 0 0 5px rgb(215, 165, 185),
            0 0 25px rgb(222, 182, 208),
            0 0 50px rgb(231, 195, 214),
            0 0 100px rgb(228, 181, 196);
}


#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  font-weight: bold;
  color: rgb(219, 134, 153);
  align-items: center;
  width: fit-content;
  height: 50px;
  transition: color 0.3s ease;
  left: 150px;
  /*z-index: 7000;*/
}

#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -20px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 16px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
  margin-right: 300px;
  left: 95px;
  top:44px;
}

#checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}


@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
  }
}












/**/

.input-group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  max-width: 160px;
}

.submit-button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  background: #2E2E2E;
  border-radius: 0 10px 10px 0;
  transition: 0.3s;
}

.submit-button:hover {
  transition: 0.3s;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  cursor: pointer;
}

.submit-button:active {
  transform: translate(0em, 0.2em);
}

.submit-button span {
  font-weight: 800;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.submit-button:hover span {
  background: #2E2E2E;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

#input-field {
  background-color: #2E2E2E;
  border-radius: 10px 0 0 10px;
  border: none;
  width: 300px;
  padding-left: 8px;
  color: white;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  color: rgb(184, 184, 184);
}

#dog {
  position: absolute;
  top: 0px;
  left: -10px;
}

.task_values {
  margin-left: 150px;
  z-index: 500;
}

.task_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checklist-container {
  max-height: 300px; /* Example fixed height for scrollable area */
  overflow-y: hidden;
  overflow-x: visible;
  z-index: 1000;
}

#checklist::-webkit-scrollbar {
  display: none;
  width: 0; /* Hide scrollbar for WebKit browsers */
}


.linklist-container {
  max-height: 500px; /* Example fixed height for scrollable area */
  overflow-y: hidden;
  overflow-x: hidden;
}

#card::-webkit-scrollbar {
  display: none;
  width: 0; /* Hide scrollbar for WebKit browsers */
}



.startButton {
  width:50%;
  float:left;
}

/*------ Pause Resume ------*/
.container {
  --color: #e064a8;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  width:50%;
  float:right;
  bottom: 20px;
}

.container .play {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .pause {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .play {
  display: none;
}

.container input:checked ~ .pause {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}





.animated-button {
  background-color: #d43d86;
  border: none;
  color: #ffffff;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 60px;
  height: 50px;
  margin: 2px 4px;
  top: px;
  left: 315px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(103, 24, 24, 0.2);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1000;
}

.animated-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 180, 225, 0.3);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.animated-button:hover:after {
  width: 210px;
  height: 200px;
  opacity: 1;
}

.animated-button:focus {
  outline: none;
}

.animated-button:active {
  transform: translateY(2px);
  box-shadow: none;
}










.CheckListButton {
  --main-focus: #f177e1;
  --font-color: rgb(223, 101, 127);
  --bg-color-sub: rgb(219, 134, 153);
  --bg-color: #f8e8f2;
  --main-color: rgb(219, 134, 153);;
  position: relative;
  width: 60px;
  height: 40px;
  left: 77px;
  bottom:-4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.CheckListButton, .button__icon, .button__text {
  transition: all 0.3s;
}

.CheckListButton .button__text {
  transform: translateX(9px);
  color: var(--font-color);
  font-weight: 600;
}

.CheckListButton .button__icon {
  position: absolute;
  transform: translateX(222px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckListButton .svg {
  width: 13px;
  fill: (rgb(219, 134, 153));
}

.CheckListButton:hover {
  background: var(--bg-color);
}

.CheckListButton:hover .button__text {
  color: transparent;
}

.CheckListButton:hover .button__icon {
  width: 148px;
  transform: translateX(-51px);
}

.CheckListButton:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

/*Toggle Daily to Monthly*/
.checkbox {
  width: 223px;
  height: 60px;
  right: 50px;
  background-color: #efd1ed;
  border-radius: 30px;
  position: fixed;
  color: rgb(63, 6, 89);
  overflow: hidden;
}

#checkbox_toggle {
  display: none;
}

.checkbox .toggle {
  width: 100px;
  height: 50px;
  position: absolute;
  border-radius: 30px;
  left: 5px;
  cursor: pointer;
  background: linear-gradient(40deg, #9b2c7d,#e2cfe9 70%);
  transition: 0.4s;
  box-shadow: 0px 0px 3px rgb(232, 195, 241), 0px 0px 5px rgb(168, 16, 76);
}

.checkbox .slide {
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.checkbox .slide .text {
  font-size: 16px;
  font-weight: 700;
  z-index: 100;
  cursor: pointer;
  margin-left:-15px;
  color: #5c1340;
}

.check:checked + .checkbox .slide .toggle {
  transform: translateX(113px);
  background:  linear-gradient(40deg, #8983F7, #b5d4e7 70%);
  box-shadow: -0px -0px 10px #8983F7, -0px -0px 3px #8983F7;
}

.check:checked + .checkbox .slide {
  background-color: #d5c4f3;
  color: #fff;
}